<h2><%= @recipe.name %></h2><br>
<%= @recipe.ingredients.gsub(/\n/, '<br/>') %><br><br>
<%= @recipe.directions.gsub(/\n/, '<br/>') %><br><br>
Recipe Type: <i><%= @recipe.type_tag %></i><br><br>
Created by: <a href="/<%= @user.username %>"><%= @user.username %></a><br><br>

<form method="post" action="/cookbook/<%= @recipe.id %>">
  <% if current_user.recipes.include?(@recipe) %>
    <input type="submit" name="do_this" value="Remove from my Cookbook">
  <% else %>
    <input type="submit" name="do_this" value="Add to my Cookbook">
  <% end %>
</form>
 <br><br>

<% if @recipe.user_id == current_user.id %>
<a href="/recipes/<%= @recipe.id %>/edit"><button type="button">Edit Recipe</button></a><br><br>
<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Recipe">
</form>
<% end %>