<h2>Recipes created by <%= @user.username %></h2>
<p>View <%= @user.username %>'s Cookbook <a href="/<%= @user.slug %>/cookbook">here.</a>

<ul>
<% @recipes.each do |r| %>
    <li> <a href="/recipes/<%=r.id%>"><%= r.name %></a></li>
<% end %>
</ul>